        <footer>
            <div class="row">
            <div class="col">
                <p>©2023, Nicolas Saumont. <a href="https://nicolassaumont.com/" target="_blank">nicolassaumont.com</a></p>
            </div>
            <div class="col external_links mobile">
                <a href="https://github.com/NicolasSaumont" class="external_link" target="_blank"><img src="images/github.png" alt="logo github"></a>
                <a href="https://www.linkedin.com/in/nicolas-saumont-241422117/" class="external_link" target="_blank"><img src="images/linkedin.png" alt="logo linkedin"></a>
                </div>
            </div>
        </footer>

    </div>

    <script src="script.js"></script>

</body>

</html>