<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">

  <title>Portfolio</title>
</head>
<body>
  <div class="container">

    <h1 class="main_title">Portfolio Nicolas Saumont</h1>

    <header>
        <div class="row">
          <div class="col logo">
            <img src="images/logo.png" alt="logo nicolas saumont">
          </div>
          <div class="col mobile">
            <nav id="main_menu">
              <div class="toggle">
                <i class="fa-solid fa-bars menu-projects open"></i>
                <i class="fa-regular fa-circle-xmark menu-projects close"></i>
              </div>
              <ul class="navbar-nav">
                <h3>Projects</h3>
                <ul class="projects">
                  <li class="project-item project-item--cv_adventure">CV Adventure</li>
                  <li class="project-item project-item--mystical_forest">Mystical Forest</li>
                  <li class="project-item project-item--memory_game">Memory Game</li>
                  <li class="project-item project-item--ezee">Ezee</li>
                  <li class="project-item project-item--fran">Fran</li>
                  <li class="project-item project-item--top_5_video_games">Top 5 video games</li>
                </ul>
              </ul>
            </nav>
          </div>
          <div class="col external_links desktop">
            <a href="https://github.com/NicolasSaumont" class="external_link" target="_blank"><img src="images/github.png" alt="logo github"></a>
            <a href="https://www.linkedin.com/in/nicolas-saumont/" class="external_link" target="_blank"><img src="images/linkedin.png" alt="logo linkedin"></a>
          </div>
        </div>
    </header>